{% extends "base.html" %}

{% block title %} blog titles {% endblock %}

{% block content %}
<div class="row text-center vertical-middlw-sm">
    <h1>{{article.title}}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center">
            <span>{{article.author.username}}</span>
            <span style="margin-left:20px">{{publish}}</span>
        </p>
        <div>
            {{article.body}}
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <img width="200px" src="https://tvax1.sinaimg.cn/crop.0.0.1080.1080.180/006bRAEVly8g6wv39gkd8j30u00u03zy.jpg?KID=imgbed,tva&Expires=1575562048&ssig=MMmO3p%2BdR7">
    </div>
</div>
{% endblock %}